<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Герои специальной военной операции на Украине</title>
  <link rel="icon" type="image/png" href="assets/images/hero-star.png">
  <link href="assets/heroes.css" rel="stylesheet">
  <script src="assets/mr-fontfit.js"></script>
  <!-- <script src="assets/media-banner.js"></script> -->
  <script src="assets/media-banner.js" type="module"></script>
  <script src="assets/random-content.js" type="module"></script>
  <script src="assets/media-playlist.js" type="module"></script>
  <script src="assets/lib/vue3.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GK7YBXYWYF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-GK7YBXYWYF');
  </script>
</head>
<body>
  <div class="app-page">
    <main class="app-main">
      <header class="app-header">
        <media-banner
          video="assets/video/apachev-very-low.mp4"
          audio="
            assets/audio/krupnov--i-stay-acoustic.mp3,
            assets/audio/smoylov--for-donbass.mp3,
            assets/audio/chicherina-apachev--armata.mp3,
            assets/audio/zlatoustovsky--heroes-of-the-past.mp3,
            assets/audio/rastorguev--monkberry-moon-delight.mp3,
            assets/audio/rich--dirty-work.mp3,
            assets/audio/zveroboy--my-motherland-coming-back.mp3,
            assets/audio/gabriel--digging-in-the-dirt.mp3,
            assets/audio/digga--on-fire.mp3,
            assets/audio/maccartney--monkberry-moon-delight.mp3,
            assets/audio/tsoy--war.mp3,
            assets/audio/sukachev--i-stay.mp3,
            assets/audio/motor-roller--song-of-red-army-soldier.mp3,
            assets/audio/apachev--ukraine-dnr.mp3,
            assets/audio/apachev--do-not-follow-me.mp3,
            assets/audio/chicherina--on-frontline.mp3,
            assets/audio/vysotsky--ballad-for-fight.mp3,
            assets/audio/chicherina--airport.mp3,
            assets/audio/kachura-lisovina--donbass-behind-us.mp3,
            assets/audio/marshal--i-am-su24.mp3,
            assets/audio/prokofiev--dance-of-the-knights.mp3
          ">
          <h1 class="content">
            <div data-text-stroke="dark" class="text-heroes">Герои</div>
            <div data-text-stroke="dark">специальной военной операции</div>
            <div data-text-stroke="dark">на&nbsp;Украине</div>
          </h1>
        </media-banner>
        <div class="app-header__interlace"></div>
      </header>

      <!-- Вступление -->
      <section id="intro" class="diagonal_top">
        <p class="content lead">
          <random-content>
            <random-content-option>Мир — это результат прошлой войны</random-content-option>
            <random-content-option>Чем надежней убегаешь от лап смерти,<br>тем верней попадаешь ей в пасть.</random-content-option>
            <random-content-option>Война это поляризованная жизнь.<br>Душевная грязь гаже, зато дух чище.</random-content-option>
          </random-content>
        </p>
      </section>

      <!-- Список всех героев с поиском -->
      <section id="heroes-names">
        <div v-if="!heroes.length" class="content loader_icon loader_text"></div>
        <hc-heroes-names v-else v-bind:heroes="heroes"></hc-heroes-names>
      </section>

      <!-- Прокладка над подвал с диагональю -->
      <section class="diagonal_bottom">
        <p>&nbsp;</p>
      </section>

      <!-- Подвал -->
      <footer class="app-footer">
        <random-content>
          <random-content-option>
            <img class="app-footer__image" src="assets/images/nikulin.jpg">
            <a class="app-footer__artist" href="http://www.grekovstudio.ru/artists/now/shtrikman-leonid-lvovich" target="_blank" title="Открыть страницу художника на сайте студии">
              <div>
                Штрикман Леонид Львович<br>
                «Портрет Никулина Ю.В.»<br>
                Студия военных художников им. Грекова, 2021 г.<br>
              </div>
              <img src="assets/images/grekov-logo.png" class="app-footer__artist-logo">
            </a>
          </random-content-option>
          <random-content-option>
            <img class="app-footer__image" src="assets/images/kalibr-002.jpg">
            <a class="app-footer__artist" href="http://www.grekovstudio.ru/artists/now/shtrikman-leonid-lvovich" target="_blank" title="Открыть страницу художника на сайте студии">
              <div>
                Штрикман Леонид Львович<br>
                «Каспийская флотилия. Ракетная атака»<br>
                Студия военных художников им. Грекова, 2020 г.<br>
              </div>
              <img src="assets/images/grekov-logo.png" class="app-footer__artist-logo">
            </a>
          </random-content-option>
          <random-content-option>
            <img class="app-footer__image" src="assets/images/medics.jpg">
            <a class="app-footer__artist" href="http://www.grekovstudio.ru/artists/now/sytov-aleksandr-kapitonovich" target="_blank" title="Открыть страницу художника на сайте студии">
              <div>
                Сытов Александр Капитонович<br>
                «Военные медики в Чечне»<br>
                Студия военных художников им. Грекова, 2021 г.<br>
              </div>
              <img src="assets/images/grekov-logo.png" class="app-footer__artist-logo">
            </a>
          </random-content-option>
        </random-content>
      </footer>
    </main>

    <!-- Боковоя панель -->
    <nav class="app-nav">
      <button
        class="app-nav__toggle-nav action_icon"
        type="button"
        data-toggle-container=".app-page"
        data-toggle-class="app-nav_opened"
        data-emit-on-click="resize-media-banner"
        data-emit-on-click-delay="300"></button>
      <section class="app-nav__content">
        <!-- Плейлист -->
        <h3>Плейлист</h3>
        <media-playlist for=".app-header media-banner" type="audio">
          <media-playlist-item
            src="assets/audio/apachev--do-not-follow-me.mp3"
            href="https://vk.com/search?c[q]=Апачев — Не ходи за мной&c[section]=auto">Апачев — Не ходи за мной</media-playlist-item>
          <media-playlist-item
            src="assets/audio/apachev--ukraine-dnr.mp3"
            href="https://vk.com/search?c[q]=Апачев — Украина—ДНР&c[section]=auto">Апачев — Украина—ДНР (16+)</media-playlist-item>
          <media-playlist-item
            src="assets/audio/vysotsky--ballad-for-fight.mp3"
            href="https://vk.com/search?c[q]=Высоцкий — Баллада о борьбе&c[section]=auto">Высоцкий — Баллада о борьбе</media-playlist-item>
          <media-playlist-item
            src="assets/audio/gabriel--digging-in-the-dirt.mp3"
            href="https://vk.com/search?c[q]=Gabriel — Digging in the dirt&c[section]=auto">Gabriel — Digging in the dirt</media-playlist-item>
          <media-playlist-item
            src="assets/audio/zveroboy--my-motherland-coming-back.mp3"
            href="https://vk.com/search?c[q]=Зверобой — Моя родина возвращается&c[section]=auto">Зверобой — Моя родина возвращается</media-playlist-item>
          <media-playlist-item
            src="assets/audio/zlatoustovsky--heroes-of-the-past.mp3"
            href="https://vk.com/search?c[q]=Златоустовский — От героев былых времен&c[section]=auto">Златоустовский — Вечный огонь (От героев былых времен)</media-playlist-item>
          <media-playlist-item
            src="assets/audio/kachura-lisovina--donbass-behind-us.mp3"
            href="https://vk.com/search?c[q]=Качура — Донбасс за нами&c[section]=auto">Качура, Лисовина — Донбасс за нами</media-playlist-item>
          <media-playlist-item
            src="assets/audio/krupnov--i-stay-acoustic.mp3"
            href="https://vk.com/search?c[q]=Крупнов — Я остаюсь&c[section]=auto">Крупнов — Я остаюсь</media-playlist-item>
          <media-playlist-item src="assets/audio/marshal--i-am-su24.mp3" href="https://vk.com/search?c[q]=Маршал — Я не Шарли, я Су-24&c[section]=auto">Маршал — Я не Шарли, я Су-24</media-playlist-item>
          <media-playlist-item
            src="assets/audio/motor-roller--song-of-red-army-soldier.mp3"
            href="https://vk.com/search?c[q]=Мотор-Роллер — Песня красноармейца&c[section]=auto">Мотор-Роллер — Песня красноармейца</media-playlist-item>
          <media-playlist-item
            src="assets/audio/maccartney--monkberry-moon-delight.mp3"
            href="https://vk.com/search?c[q]=McCartney — Monkberry Moon Delight&c[section]=auto">McCartney — Monkberry Moon Delight</media-playlist-item>
          <media-playlist-item src="assets/audio/prokofiev--dance-of-the-knights.mp3" href="https://vk.com/search?c[q]=Прокофьев — Танец рыцарей&c[section]=auto">Прокофьев — Танец рыцарей</media-playlist-item>
          <media-playlist-item
            src="assets/audio/rastorguev--monkberry-moon-delight.mp3"
            href="https://vk.com/search?c[q]=Расторгуев — Monkberry Moon Delight&c[section]=auto">Расторгуев — Monkberry Moon Delight</media-playlist-item>
          <media-playlist-item
            src="assets/audio/rich--dirty-work.mp3"
            href="https://vk.com/search?c[q]=РИЧ — Грязная работа&c[section]=auto">РИЧ — Грязная работа</media-playlist-item>
          <media-playlist-item
            src="assets/audio/digga--on-fire.mp3"
            href="https://vk.com/search?c[q]=Рэм Дигга — В огне&c[section]=auto">Рэм Дигга — В огне</media-playlist-item>
          <media-playlist-item
            src="assets/audio/smoylov--for-donbass.mp3"
            href="https://vk.com/search?c[q]=Самойлов — За Донбасс&c[section]=auto">Самойлов — За Донбасс</media-playlist-item>
          <media-playlist-item src="assets/audio/sklar--war-ahead.mp3" href="https://vk.com/search?c[q]=Скляр — Война на пороге&c[section]=auto">Скляр — Миллионы (Война на пороге)</media-playlist-item>
          <media-playlist-item
            src="assets/audio/sukachev--i-stay.mp3"
            href="https://vk.com/search?c[q]=Сукачев — Я остаюсь&c[section]=auto">Сукачев — Я остаюсь</media-playlist-item>
          <media-playlist-item
            src="assets/audio/tsoy--war.mp3"
            href="https://vk.com/search?c[q]=Цой — Война&c[section]=auto">Цой — Война</media-playlist-item>
          <media-playlist-item
            src="assets/audio/chicherina--airport.mp3"
            href="https://vk.com/search?c[q]=Чичерина — Воздушная гавань&c[section]=auto">Чичерина — Воздушная гавань (16+)</media-playlist-item>
          <media-playlist-item
            src="assets/audio/chicherina--on-frontline.mp3"
            href="https://vk.com/search?c[q]=Чичерина — На передовой&c[section]=auto">Чичерина — На передовой</media-playlist-item>
          <media-playlist-item
            src="assets/audio/chicherina-apachev--armata.mp3"
            href="https://vk.com/search?c[q]=Чичерина и Апачев — Армата&c[section]=auto">Чичерина и Апачев — Армата</media-playlist-item>
        </media-playlist>
        <!-- Копирайты -->
        <div class="app-credits">
          <div class="app-credits__title">Герои специальной военной операции на&nbsp;Украине</div>
          <div class="app-credits__motto">Сделано в России</div>
          <img src="assets/images/bear.png" height="50" class="app-credits__mascot">
        </div>
      </section>
    </nav>

    <!-- Модальные окна -->
    <div class="modals" v-bind:class="{ opened: modals[0] }" v-if="modals[0]">
      <div class="modal-backdrop" v-on:click="closeModal"></div>
      <component
        class="modal"
        v-bind:is="modals[0].is"
        v-bind:options="modals[0].options"
        v-on:close="closeModal"></component>
    </div>

  </div>

  <script type="module">
    import initToggle from './assets/toggle.js';
    import initTextStroke from './assets/text-stroke.js';
    import initEmitOnClick from './assets/emit-on-click.js';

    import HeroesMixin from './assets/mixins/heroes.js';
    import HcHeroesNames from './assets/components/heroes-names.js';
    import HcModalHero from './assets/components/modal-hero.js';

    const app = Vue.createApp({
      components: {
        HcHeroesNames,
        HcModalHero
      },
      mixins: [HeroesMixin],
      provide () {
        return {
          openModal: this.openModal,
          awardsReference: Vue.computed(() => this.awards)
        };
      },
      data () {
        return {
          heroes: [],
          modals: [],
          awards: {},
        };
      },
      watch: {
        modals: {
          handler () {
            document.body.classList.toggle('modal-opened', this.modals.length > 0);
          },
          deep: true
        },
        heroes: {
          handler () {
            if (this.heroes.length) {
              // Открываем модальное окно героя, если в ссылке указано
              const openHeroById = new URLSearchParams(location.search).get('openHeroById');
              if (openHeroById) {
                const hero = this.getHeroById(openHeroById, this.heroes);
                if (hero) {
                  this.openModal({
                    is: 'HcModalHero',
                    options: { hero }
                  });
                }
              }
            }
          },
          deep: true
        }
      },
      computed: {
        awardsReference () {
          return this.awards;
        }
      },
      async created () {
        await this.fetchHeroes();
        await this.fetchAwards();
      },
      mounted () {
        initToggle();
        initTextStroke();
        initEmitOnClick();

        // Создать пульт управления шорткатами
        this.initKeyboardShortcuts();

        // Исходный резайз медиа-баннера, если открыта боковая панель
        setTimeout(() => {
          document.dispatchEvent(new CustomEvent('resize-media-banner'));
        }, 300);

        // Следим за позицией медиа-баннера, чтоб менять цвет кнопки меню
        (new IntersectionObserver(([event]) => {
          document.querySelector('.app-nav__toggle-nav')
            .classList.toggle('invert', event.isIntersecting)
        }, {
          root: document,
          rootMargin: '0px',
          threshold: [0.2, 0.8]
        })).observe(document.querySelector('.app-header'));
      },
      beforeUnmount () {
        this.clearKeyboardShortcuts();
      },
      methods: {
        async fetchHeroes () {
          // const url = 'https://mr-woodman.ru/heroes-list/heroes-list.json';
          const url = 'assets/heroes.json';
          this.heroes = await fetch(url).then(response => response.json());
          return this.heroes;
        },
        async fetchAwards () {
          const url = 'https://mr-woodman.ru/references/awards.json';
          // const url = 'assets/awards.json';
          this.awards = await fetch(url).then(response => response.json());
          return this.awards;
        },
        openModal (modal) {
          this.onOpenModal(modal);
          this.modals.unshift(modal);
        },
        closeModal () {
          this.onCloseModal(this.modals[0]);
          this.modals.shift();
        },
        onOpenModal (modal) {
          // Если в ссылке еще не указано, прописать нашу модалку
          if (modal.is === 'HcModalHero') {
            const openHeroById = new URLSearchParams(location.search).get('openHeroById');
            if (!openHeroById || !this.hasHeroId(openHeroById, modal.options.hero)) {
              const id = this.getHeroId(modal.options.hero);
              const url = new URL(location.href);
              url.searchParams.set('openHeroById', id);
              history.pushState(id, '', url.href);
            }
          }
        },
        onCloseModal (modal) {
          if (modal.is === 'HcModalHero') {
            const url = new URL(location.href);
            url.searchParams.delete('openHeroById');
            history.pushState('clean', '', url.href)
          }
        },
        initKeyboardShortcuts () {
          document.addEventListener('keyup', this.keyboardShortcutListener);
        },
        clearKeyboardShortcuts () {
          document.removeEventListener('keyup', this.keyboardShortcutListener)
        },
        keyboardShortcutListener (event) {
          if (event.code === 'Escape' && event.target.classList.contains('modal-opened')) {
            this.closeModal();
          }
        }
      }
    });
    // Конфигурация
    app.config.unwrapInjectedRef = true;
    app.config.compilerOptions.isCustomElement = tag => {
      return tag.match(/media-|random-|playlist-|button/);
    };
    // Цепляем на страницу
    app.mount('.app-page');
  </script>

</body>
</html>
