@import url("fonts/leksa.css");
@import url("fonts/maecenas.css");

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  --font-family-text: Leksa, Georgia, serif;
  --font-family-header: Maecenas, Georgia, serif;
  --font-size-base: 20px;
  --line-height-base: 1.375;

  --color-app-link: steelblue;
  --color-app-highlight: #ab5f4b;

  --color-app-text: #323d54de;
  --color-app-text-muted: #323d5499;
  --color-app-text-disabled: #323d5461;
  --color-app-background: #e2e2df;
  --color-app-background-darker: #cfcfcb;
  --color-app-background-invert: #4f4f4c;
  --color-app-text-invert: #d0cfcade;
  --color-app-text-invert-muted: #d0cfca99;
  --color-app-text-invert-solid: #d0cfca;

  --color-backdrop-background: #4f4f4c99;

  --color-border: #4f4f4c60;
  --color-line: #4f4f4c33;

  --gradient-transparent-dark: linear-gradient(#2f2f2c00 0%, #2f2f2c99 50%, #2f2f2cee 100%);
  --gradient-transparent-black: linear-gradient(#00000000 0%, #00000088 100%);

  --width-sidebar: 400px;
  --duration-transition: 0.2s;

  --height-modal-header: 17rem;

  --border-radius-modal: 0.5rem;
}

html {
  font-size: var(--font-size-base);
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--color-app-text);
  background-color: var(--color-app-background);
  font-family: var(--font-family-text);
  line-height: var(--line-height-base);
}

[data-theme="inverted"] {
  color: var(--color-app-text-invert);
}

body {
  font-size: 1rem;
  overflow-x: hidden;
}

a {
  color: var(--color-app-link);
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-header);
}

input[type="text"],
input[type="search"] {
  background-color: white;
  padding: 0 0.5rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 2rem;
  color: inherit;
  height: 2rem;
  border-radius: 0.25rem;
  border: solid 1px var(--color-border);
  border-bottom: solid 3px var(--color-border);
  box-shadow: 0px 0px 10px 0px #00000011;
}

button,
.action {
  padding: 0 0.5rem;
  font-size: 87.5%;
  text-transform: uppercase;
  font-family: var(--font-family-text);
  font-weight: 600;
  color: inherit;
  line-height: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: solid 1px transparent;
  border-bottom: solid 3px transparent;
  cursor: pointer;
}

.action_icon {
  min-width: 2rem;
  padding: 0;
  font-size: 1.5rem;
}

.action_text {
  background-color: transparent;
  padding: 0 0.25rem;
}

.text-stroke-dark {
  position: relative;
}

.text-stroke-dark:before {
  content: attr(data-text-content);
  -webkit-text-stroke: 0.5rem var(--color-app-background-invert);
  position: absolute;
  left: 0;
  z-index: -1;
}

.text-stroke-light:before {
  content: attr(data-text-content);
  -webkit-text-stroke: 0.375rem var(--color-app-background);
  position: absolute;
  left: 0;
  z-index: -1;
}

.lead {
  font-size: xx-large;
  margin: 1rem auto 4rem auto;
  text-align: right;
  font-style: italic;
}

.loader_text {
  color: var(--color-app-text-muted);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_text:after {
  content: "Грузим...";
  font-style: italic;
  font-weight: bold;
}

.loader_icon {
  color: var(--color-app-text-muted);
  text-align: center;
}

.loader_icon:before {
  content: "\21bb";
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  animation: spin 1s infinite linear;
}

.loader_icon.loader_text:after {
  margin-left: 0.125rem;
}

/* Диагонали */

.diagonal_top,
.diagonal_bottom {
  position: relative;
  display: flex;
  flex-direction: column;
}

.diagonal_bottom {
  padding-bottom: 4rem;
}

.diagonal_top > * {
  position: relative;
  z-index: 1;
}

.diagonal_bottom > * {
  position: relative;
  z-index: 3;
}

.diagonal_top:before {
  content: " ";
  width: 100%;
  width: calc(100% + 2rem);
  position: absolute;
  left: -1rem;
  height: 3rem;
  display: block;
  background: var(--color-app-background);
  background-size: auto 100%;
  box-shadow: 0px -20px 30px -20px rgb(0 0 0 / 50%);
  transform: rotate(-2deg);
  top: -2rem;
  z-index: 0;
}

.diagonal_bottom:after {
  content: " ";
  width: calc(100% + 2rem);
  position: absolute;
  left: -1rem;
  height: 3rem;
  display: block;
  background: var(--color-app-background);
  background-size: auto 100%;
  box-shadow: 0px 20px 30px -20px rgb(0 0 0 / 50%);
  transform: rotate(2deg);
  bottom: -2rem;
  z-index: 2;
}

@media (min-width: 768px) {
  .diagonal_top:before,
  .diagonal_bottom:after {
    height: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .diagonal_top:before,
  .diagonal_bottom:after {
    height: 4rem;
  }
}

@media (min-width: 1600px) {
  .diagonal_top:before,
  .diagonal_bottom:after {
    height: 4.5rem;
  }
}

.actions {
  display: flex;
}

.actions__right {
  margin-right: 0;
  margin-left: auto;
}

media-playlist {
  padding-left: 1rem;
  margin-left: -1rem;
}

media-playlist-item {
  padding: 0.25rem 0;
  --font-size-media-playlist-item-label: small;
  --font-size-media-playlist-item-play-icon: 1rem;
  --color-media-playlist-item-link: var(--color-app-text-invert);
}

media-playlist-item:not(:last-child) {
  border-bottom: solid 1px #ffffff22;
}

/* Композиция */

.app-page {
  width: 100vw;
}

.app-page:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  box-shadow: inset 0px 0px 100px 0px #00000020;
  pointer-events: none;
}

.app-page .app-main {
  transition: margin-right var(--duration-transition) ease-out;
}

.app-page:not(.app-nav_opened) .app-main {
  margin-right: 0px;
}

.app-page.app-nav_opened .app-main {
  margin-right: var(--width-sidebar);
}

.app-page .app-nav {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--width-sidebar);
  transition: transform var(--duration-transition) ease-out;
}

.app-page:not(.app-nav_opened) .app-nav {
  transform: translateX(calc(100% - 0rem));
}

.app-page.app-nav_opened .app-nav {
  transform: translateX(0);
}

.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
  padding: 0 2rem;
  box-sizing: border-box;
}

.content-fullwidth {
  padding: 0 2rem;
  box-sizing: border-box;
}

/* Шапка */

.app-header {
  position: relative;
  height: calc(100vh - 6rem);
  background-color: var(--color-app-background-invert);
}

.app-header__interlace {
  content: "";
  background: url(images/lines.png);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.0625;
  z-index: 2;
}

.app-header h1 {
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: 300;
  z-index: 3;
  line-height: 1.125;
  color: var(--color-app-text-invert-solid);
  letter-spacing: -0.02em;
}

.app-header h1 .text-heroes {
  font-size: 175%;
  font-weight: 400;
  letter-spacing: -0.025em;
}

.app-header media-banner {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.app-header media-banner:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background: var(--gradient-transparent-dark);
}

.app-header media-banner .audio-control {
  left: 1rem;
}

/* Подвал */

.app-footer {
  position: relative;
}

.app-footer:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 40%;
  background: var(--gradient-transparent-black);
  /*box-shadow: 0px 0px 100px 50px var(--color-app-background-invert);*/
  pointer-events: none;
  z-index: 10;
}

.app-footer:before {
  content: "";
  background: url(images/lines.png);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.075;
  z-index: 1;
  filter: invert(1);
}

.app-footer__image {
  width: 100%;
  display: block;
  opacity: 0.95;
  transform: translateY(1px);
}

/* Художник картины */

.app-footer__artist {
  font-size: 13px;
  line-height: 1.25;
  text-align: right;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-app-text-invert);
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 11;
}

.app-footer__artist-logo {
  height: 2.5rem;
  opacity: 0.87;
  margin-left: 0.75rem;
  margin-top: 0.125rem;
}

/* Боковая навигация */

.app-nav {
  background-color: var(--color-app-background-invert);
  color: var(--color-app-text-invert);
  border-left: solid 2px #4c4c4b;
  z-index: 100;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: stretch;
  font-size: smaller;
}

.app-page.app-nav_opened .app-nav {
  box-shadow: 0px 0px 20px 0px #00000077;
}

.app-nav__content {
  overflow: auto;
  padding: 3rem 2rem 1rem 2rem;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.app-nav__content::-webkit-scrollbar {
  display: none;
}

.app-nav__toggle-nav {
  position: absolute;
  left: -3.5rem;
  top: 1rem;
  background-color: var(--color-app-background);
  color: var(--color-app-text);
  border-radius: 25%;
  z-index: 200;
  font-weight: normal;
  font-family: Arial;
}

.app-nav__toggle-nav.invert {
  background-color: var(--color-app-background-invert);
  color: var(--color-app-text-invert);
}

.app-nav__toggle-nav:before {
  content: "\2261";
}

.app-page.app-nav_opened .app-nav__toggle-nav:before {
  content: "\00D7";
}

.app-page.app-nav_opened .app-nav__toggle-nav {
  left: auto;
  right: 1.5rem;
  background-color: var(--color-app-background-invert);
  color: var(--color-app-text-invert);
  box-shadow: 0px 0px 30px 20px var(--color-app-background-invert);
}

/* Данные проекта */

.app-nav .app-credits {
  padding-left: 3.75rem;
  margin: 5rem -1rem 0.125rem -1rem;
  color: var(--color-app-text-invert-muted);
  position: relative;
  max-width: 16em;
}

.app-credits__title {
  font-size: smaller;
  margin-bottom: 0.25rem;
}

.app-credits__motto {
  font-size: x-small;
}

.app-credits__motto a {
  color: inherit;
}

.app-credits__mascot {
  filter: invert(1);
  height: 2.5rem;
  opacity: 0.6;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Компоненты: heroes-names */

.heroes-names-actions {
  margin-bottom: 1.5rem;
}

.heroes-names-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.heroes-names-list.count-below-50 {
  justify-content: space-evenly;
}

.heroes-names-list__item-wrapper {
  display: flex;
  align-items: stretch;
}

.heroes-names-list__empty {
  text-align: center;
  font-style: italic;
  color: var(--color-app-text-muted);
  width: 100%;
}

.heroes-names-list__item {
  margin: 0.25rem 0.125rem;
  font-size: 0.5rem;
  line-height: 1.625;
  position: relative;
  text-decoration: none;
  font-weight: bold;
}

.heroes-names-list.additional-fields .heroes-names-list__item {
  line-height: 1.25;
  margin: 0.5rem 0.25rem;
}

.heroes-names-list.additional-fields .heroes-names-list__item .found {
  line-height: 1.25;
  font-size: smaller;
  font-weight: normal;
}

.count-below-100 .heroes-names-list__item {
  font-size: 0.625rem;
  margin: 0.375rem 0.25rem;
}

.count-below-100.additional-fields .heroes-names-list__item {
  margin: 0.625rem 0.25rem;
}

.count-below-50 .heroes-names-list__item {
  font-size: 0.75rem;
  margin: 0.375rem 0.625rem;
}

.count-below-50.additional-fields .heroes-names-list__item {
  margin: 0.875rem 0.5rem;
}

.count-below-25 .heroes-names-list__item {
  font-size: 1rem;
  margin: 0.5rem 0.75rem;
}

.count-below-25.additional-fields .heroes-names-list__item {
  margin: 1rem 0.75rem;
}

.heroes-names-list__divider {
  font-weight: bold;
  font-size: 0.625rem;
  line-height: 1;
  margin: 0.125rem 0.25rem;
  background-color: var(--color-app-background-darker);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}

.heroes-names-list__divider:empty:before {
  content: "Нет данных";
}

.additional-fields .heroes-names-list__divider {
  margin: 0.375rem 0.25rem;
}

.count-below-100 .heroes-names-list__divider {
  font-size: 0.75rem;
  margin: 0.125rem 0.25rem;
}

.count-below-100.additional-fields .heroes-names-list__divider {
  margin: 0.625rem 0.25rem;
}

.count-below-50 .heroes-names-list__divider {
  font-size: 0.875rem;
  margin: 0.25rem 0.25rem;
}

.count-below-50.additional-fields .heroes-names-list__divider {
  margin: 0.75rem 0.25rem;
}

.count-below-25 .heroes-names-list__divider {
  font-size: 1rem;
  margin: 0.25rem 0.25rem;
}

.count-below-25.additional-fields .heroes-names-list__divider {
  margin: 0.875rem 0.25rem;
}

.heroes-names-actions {
  align-items: center;
}

.heroes-names-actions__search {
  flex-grow: 1;
  margin-right: 5rem;
  height: 2.5rem !important;
}

.heroes-names-actions__search::placeholder {
  color: var(--color-app-text-disabled);
}

.heroes-names-actions__order-by + .heroes-names-actions__order-by {
  margin-left: 0.25rem;
}

.heroes-names-actions__order-by:after {
  content: "";
  width: 0.625rem;
  text-align: right;
  display: inline-block;
}

.heroes-names-actions__order-by.active.asc:after {
  content: "↑";
}

.heroes-names-actions__order-by.active:not(.asc):after {
  content: "↓";
}

.heroes-names-actions .actions__left {
  margin-left: 0.25rem;
}

.heroes-names-actions .actions__right {
  margin-right: -0.5rem;
}

/* Модальные окна */

body.modal-opened {
  overflow: hidden;
}

.modals {
  position: fixed;
  height: 100vh;
  overflow: scroll;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem;
  box-sizing: border-box;
  display: none;
}

.modals.opened {
  display: block;
}

.modal-backdrop {
  background-color: var(--color-backdrop-background);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
}

.modal {
  position: relative;
  z-index: 102;
  background-color: var(--color-app-background);
  border-radius: var(--border-radius-modal);
  margin: 0 auto;
  width: 100%;
  max-width: 45rem;
  max-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 50px 20px #00000066;
}

.modal-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.modal-main {
  overflow: scroll;
}

.modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
}

/* Модальное окно героя */

.modal-hero {
  max-width: 52rem;
}

.modal-hero .modal-header {
  position: relative;
  padding-left: 19rem;
  height: var(--height-modal-header);
  flex-basis: var(--height-modal-header);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.modal-hero .modal-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid var(--color-line) 1px;
}

.modal-hero .hero-avatars {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--height-modal-header);
  height: var(--height-modal-header);
  box-sizing: border-box;
  padding: calc(var(--height-modal-header) - 2.25rem) 0.5rem 0.25rem 0.25rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-app-background-invert);
  border-top-left-radius: var(--border-radius-modal);
}

.modal-hero .hero-avatars:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background-image: var(--gradient-transparent-black);
}

.modal-hero .hero-avatar {
  position: relative;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-size: cover;
  box-shadow: 0px 0px 0.25rem 0 #00000099;
  display: none;
}

.modal-hero .hero-avatar + .hero-avatar {
  margin-left: 0.25rem;
}

.modal-hero .hero-avatar_current {
  width: var(--height-modal-header);
  height: var(--height-modal-header);
  background-size: cover;
  border-top-left-radius: 0.5rem;
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  z-index: 0;
  background-size: cover;
}

.modal-hero .hero-avatar.current {
  box-shadow: none;
  background-image: none !important;
  pointer-events: none;
}

.modal-hero .hero-avatars .tsargrad {
  background-position: center top;
}

.modal-hero .hero-name {
  margin-top: 1rem;
  margin-bottom: 0.625rem;
  margin-right: 4.5rem;
  font-size: 2.5rem;
  line-height: 1;
}

.modal-hero .hero-rank {
  font-size: 1.25rem;
}

.modal-hero .hero-awards {
  margin-top: 0.5rem;
}

.modal-hero .hero-awards__images {
  margin-top: 1.5rem;
}

.modal-hero .hero-awards__names {
  font-size: 0.75rem;
}

.modal-hero img.hero-awards__image {
  mix-blend-mode: multiply;
  height: 4rem;
  margin-right: 0.75rem;
}

.modal-hero .modal-main {
  position: relative;
  min-height: calc(100vh - var(--height-modal-header) - 2rem);
  box-sizing: border-box;
  display: flex;
}

.modal-hero .hero-story-tabs {
  position: sticky;
  top: 0;
  left: 0;
  width: var(--height-modal-header);
  flex-basis: var(--height-modal-header);
  flex-shrink: 0;
  padding: 0 1.5rem;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: var(--color-app-background-invert);
  color: var(--color-app-text-invert-solid);
  font-size: 1rem;
  border-bottom-left-radius: var(--border-radius-modal);
}

.modal-hero .hero-story-tabs.single {
  background-color: var(--color-app-background);
}

.modal-hero .hero-story-tab {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
}

.modal-hero .hero-story-tab__subtitle {
  font-size: 0.75rem;
  color: var(--color-app-text-invert-muted);
}

.modal-hero .hero-story-tab__url {
  color: var(--color-app-text-invert-muted);
  font-size: 0.625rem;
}

.modal-hero .hero-story-tab.current {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--color-app-background);
  color: var(--color-app-text);
  pointer-events: none;
}

.modal-hero .hero-story-tab.current .hero-story-tab__subtitle {
  color: var(--color-app-text-muted);
}

.modal-hero .hero-story-tab.current .hero-story-tab__url {
  color: var(--color-app-text-muted);
}

.modal-hero .hero-story-tab + .hero-story-tab {
  margin-top: 0.5rem;
}

.modal-hero .hero-story-content {
  flex-grow: 1;
  padding: 2rem;
  padding-right: 3rem;
  overflow-y: scroll;
}

.modal-hero .hero-story-content__body > :first-child {
  margin-top: 0;
}

.modal-hero .hero-story-content__body > :last-child {
  margin-bottom: 0;
}

.modal-hero .hero-story-content p:not([class]) {
  text-indent: 1.5rem;
}

.modal-hero .hero-story-content__url {
  text-align: right;
  text-indent: 0 !important;
  font-size: 0.625rem;
  font-style: italic;
  margin-top: 2rem;
}

.modal-hero .hero-story-content.ancestor p:first-child {
  font-weight: bold;
  font-size: 120%;
  text-indent: 0 !important;
  text-align: center;
}

.modal-hero .hero-story-content blockquote {
  margin: 1rem 1.5rem;
  padding: 1rem 2rem 1rem 3.5rem;
  background-color: var(--color-app-background-darker);
  position: relative;
}

.modal-hero .hero-story-content blockquote p {
  text-indent: 0 !important;
  margin: 0.75rem auto;
}

.modal-hero .hero-story-content blockquote:before {
  content: "«";
  font-size: 2.5rem;
  line-height: 1rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.modal-hero .hero-story-content p.text-sign {
  font-size: 0.625rem;
  text-align: center;
  margin: 2rem auto;
}

.modal-hero .hero-story-content img {
  border-radius: 0.25rem;
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 0.5rem;
}

.modal-hero .hero-story-content h2,
.modal-hero .hero-story-content h3 {
  text-align: center;
}
